 <form action="https://tinyletter.com/robertdavidmartinez" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/robertdavidmartinez', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"> 
  <input type="text" style="margin-bottom:0;" name="email" id="tlemail" placeholder="Subscribe by email"/>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" class="button button-blue button-big mobile-block" value="Subscribe" />  
</form>
         